.cross-sell {
    margin-top: 2rem;
    font-family: var(--font-family-monospace);
    position: relative;
}

.cross-sell__heading {
    font-family: var(--font-family-monospace);
    text-transform: uppercase;
    border: 1px solid red;
}